@font-face {

font-family: Blotus;

src: url('/static/fonts/BLotus.ttf');

}



*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:Blotus,Tahoma;

}



body{

background:#f4f7fc;

color:#333;

}





.header{


background:#075985;

color:white;

padding:25px 50px;

display:flex;

justify-content:space-between;

align-items:center;

border-bottom:4px solid #f4c430;

}




.brand{

display:flex;

align-items:center;

gap:20px;

}




.logo{


width:75px;

height:75px;

border-radius:50%;

background:white;

display:flex;

align-items:center;

justify-content:center;

font-size:40px;

}




.brand h1{

font-size:30px;

}



.brand p{

opacity:.8;

}



.student{

text-align:center;

}



.student span{

font-size:14px;

}



.student h3{

font-size:22px;

}





.navbar{


background:white;

padding:15px 50px;

display:flex;

gap:15px;

align-items:center;

box-shadow:0 5px 20px rgba(0,0,0,.08);

}



.navbar a,
.navbar button{


text-decoration:none;

border:none;

background:white;

color:#075985;

padding:12px 25px;

border-radius:10px;

cursor:pointer;

font-size:16px;

}



.navbar a:hover,
.navbar .active{


background:#075985;

color:white;

}





main{


width:90%;

max-width:1200px;

margin:40px auto;


}




.welcome{


background:white;

padding:25px;

border-radius:20px;

border-right:6px solid #f4c430;

box-shadow:0 10px 30px rgba(0,0,0,.05);


}



.welcome h2{

color:#075985;

margin-bottom:10px;

}





.cards{


display:grid;

grid-template-columns:repeat(3,1fr);

gap:25px;

margin-top:35px;

}





.glass-card{


background:rgba(255,255,255,.75);

backdrop-filter:blur(10px);

border-radius:25px;

padding:35px;

text-align:center;

box-shadow:0 15px 35px rgba(0,0,0,.08);

border:1px solid rgba(255,255,255,.5);

transition:.3s;


}




.glass-card:hover{


transform:translateY(-8px);


}





.card-icon{


font-size:45px;

margin-bottom:15px;


}




.glass-card h2{


font-size:32px;

color:#075985;

margin-bottom:10px;


}




.glass-card p{


color:#666;

margin-bottom:20px;


}




.glass-card a{


background:#075985;

color:white;

padding:10px 25px;

border-radius:10px;

text-decoration:none;


}



.glass-card a:hover{


background:#0c4a6e;


}







.notice{


background:white;

margin-top:35px;

padding:25px;

border-radius:20px;

box-shadow:0 10px 25px rgba(0,0,0,.05);


}



.notice h3{


color:#075985;

margin-bottom:10px;


}





@media(max-width:850px){


.cards{

grid-template-columns:1fr;

}


.header{

flex-direction:column;

gap:20px;

}



.navbar{

flex-wrap:wrap;

}


}